<ion-content [fullscreen]="true">

    <ng-container *ngIf="!this.is_loading">
        <h1>Sem dados para serem exibidos</h1>
    </ng-container>
    <ng-container *ngIf="!this.is_loading">
        carregamento finalizado 
    </ng-container>
    
   <ion-row>
        <ion-col size="12" sizes-xl="3" *ngFor="let pais of this.dados">

            <ion-card>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="4">
                            <ion-thumbnail>
                                <img src="{{ pais.flags.png }}">
                            </ion-thumbnail>
                        </ion-col>
                        <ion-col size="8">
                            <h3>{{ pais.name.comnon }}</h3>
                            <h4>{{ pai.name.official }}</h4>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

        </ion-col>
   </ion-row>

</ion-content>